@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Transaction terminée !</h5>
        <p class="card-text">La transaction a été effectuée avec succès.</p>
      <a href="#" class="btn btn-primary">Retour</a>
  </div>
</div>