@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<partial name="TopBanner" />
<div class="container">
    <partial name="_BoitePanierProduit" />
    <partial name="_BoitePanierProduit" />
    <!-- Le div ne sert qu'à faire une ligne dans la page -->
    <div class="container my-3 border border-2 border-dark"><div></div></div>
    <div class="position-relative">
        <div class="position-absolute end-0">
            <p>Total 123 CAD</p>
            <a type="button" class="btn btn-primary" asp-action="Paiement">Paiement</a>
        </div>
    </div>
</div>

