@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model TheWebsite.Models.ProduitPanier

<partial name="TopBanner" model=Model.Utilisateur/>

<div class="container">
    @if (ViewBag.Empty)
    {
        <p>Panier vide</p>
    }
    else
    {
        @foreach (TheWebsite.Models.Produit produit in Model.Produits)
        {
            <partial name="_BoitePanierProduit" model="produit" />
        }
    }
    <!-- Le div ne sert qu'à faire une ligne dans la page -->
    <div class="container my-3 border border-2 border-dark"><div></div></div>
    <div class="position-relative">
        <div class="position-absolute end-0">
            <p>Total 123 CAD</p>
            <a type="button" class="btn btn-primary" asp-action="Paiement">Paiement</a>
        </div>
    </div>
</div>

