@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<partial name="TopBanner" />
<div class="container">
    <h1>Statistiques</h1>
    <!-- Le div ne sert qu'à faire une ligne dans la page -->
    <div class="my-3 border border-2 border-dark"><div></div></div>

    <div class="d-flex justify-content-between">
        <p>Total des sommes dépensées</p>
        <p>123 CAD</p>
    </div>

    <div class="d-flex justify-content-between">
        <p>Nombre d'articles achetés</p>
        <p>123</p>
    </div>
</div>