@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model TheWebsite.Models.StatistiqueVendeur

<partial name="TopNavbar" model="ViewBag.Vendeur" />

<div class="container">
    <h1>Statistiques</h1>
    <!-- Le div ne sert qu'à faire une ligne dans la page -->
    <div class="my-3 border border-2 border-dark"><div></div></div>

    <div class="d-flex justify-content-between">
        <p>Total des sommes dépensées</p>
        <p>@Model.TotalCashReceved CAD</p>
    </div>

    <div class="d-flex justify-content-between">
        <p>Bénéfices (15%)</p>
        <p>@Model.Profit CAD</p>
    </div>

    <div class="d-flex justify-content-between">
        <p>Nombre d'articles achetés</p>
        <p>@Model.TotalArticleSold</p>
    </div>
</div>