@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@model TheWebsite.Models.GestionProduitVM

<partial name="TopNavbar" model="Model"/>

<div class="container border">
    <form asp-action="AddProduit" method="post">
        
        <input type="hidden" name="Vendor" value="@Model.VendeurActif.Name" /> 
        <input type="hidden" name="UtilisateurId" value="@Model.VendeurActif.UtilisateurId" />

        <div class="row">
            <div class="col-6">
                <div class="row my-3">
                    <div class="col-6">
                        <label class="form-label mt-2" for="Title">Titre:</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="ProduitAjouter.Title" name="Title" type="text" class="form-control" placeholder="Entrer le titre" />
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-6">
                        <label class="form-label mt-2" for="Categorie">Catégorie:</label>
                    </div>
                    <div class="col-6">
                        <select asp-for="ProduitAjouter.Categorie" name="Categorie" class="form-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-6">
                        <label class="form-label mt-2" for="Image">Image:</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="ProduitAjouter.ImageURL" name="ImageURL" type="url" class="form-control" placeholder="Entrer l'URL de l'image" />
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row my-3">
                    <div class="col-6">
                        <label class="form-label mt-2" for="Pour">Pour:</label>
                    </div>
                    <div class="col-3">
                        <input asp-for="ProduitAjouter.Gender" type="radio" class="form-check-input" id="radioHomme" name="Gender" value="Homme" checked>Homme
                    </div>
                    <div class="col-3">
                        <input asp-for="ProduitAjouter.Gender" type="radio" class="form-check-input" id="radioFemme" name="Gender" value="Femme">Femme
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-6">
                        <label class="form-label mt-2" for="PrixUnitaire">Prix unitaire:</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="ProduitAjouter.Price" name="Price" type="number" class="form-control" step="0.05" />
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success w-100">Ajouter</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="form-label mt-2">Description</label>
                    <textarea class="form-control my-2" placeholder="Donnez un description de votre produit..." asp-for="ProduitAjouter.Description" name="Description"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Le div ne sert qu'à faire une ligne dans la page -->
<div class="container my-3 border border-2 border-dark"><div></div></div>

@foreach (TheWebsite.Models.Produit p in Model.ProduitsDuVendeur)
{
    <partial name="BoiteGestionProduit" model="p" />
}
