@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@model TheWebsite.Models.Facture

<partial name="TopBanner" model="Model" />

<div class="container border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Total CAD</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

