@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
@model TheWebsite.Models.Utilisateur
<div>
    <p>L'utilisateur @Model.Name a été créé!</p>
    <a type="submit" class="btn btn-primary m-1" asp-action="InscriptionResult">Suivant</a>
</div>