@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}
<div class="d-flex border p-2 mt-2">
    <div class="p-2">
        <img class="rounded imgSize border-1" />
    </div>

    <div class="flex-grow-1">
        <div><b class="text-info ps-2">Titre:</b> wocniwni</div>
        <div><b class="text-info ps-2">Vendeur:</b> wocniwni</div>
        <div><b class="text-info ps-2">Prix:</b> wocniwni</div>
        <div>
            <b class="text-info ps-2">Quantité:</b>
            <input type="number" />
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-danger text-nowrap">Retirer</button>
    </div>
</div>