
@{
}

<h2>Filtres</h2>

<div class="mx-auto my-3">
    <div class="d-flex justify-content-between">
        <div><h4>Prix</h4></div>
        <div class="my-1 w-50 d-flex justify-content-end"><input type="text" class="text-end w-50" name="values" value="1" id="textbox">$</div>
    </div>
    
    <input type="range" class="form-range customRange" value="1" min="1" max="100" id="range">
    <div class="d-flex justify-content-between">
        <span>1</span>
        <span>100</span>
    </div>
</div>

<div class="mx-auto my-3">
    <h4>Catégorie</h4>
    <select class="form-select">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</div>

<div class="mx-auto my-3">
    <h4>Pour ?</h4>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="radioHomme" name="optradio" value="Homme" checked>Homme
        <label class="form-check-label" for="radioHomme"></label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="radioFemme" name="optradio" value="option2">Femme
        <label class="form-check-label" for="radioFemme"></label>
    </div>
</div>