@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@model TheWebsite.Models.IndexVM

@if (Model.UtilisateurActif.IsVendor)
{
    <partial name="TopNavbar" model="Model.UtilisateurActif" />
}
else
{
    <partial name="IndexTopBanner" model="Model.UtilisateurActif" />
}

<div class="container py-2 px-0 my-2 d-flex">
    <div class="p-2 me-2 mt-lg-5 border align-self-start"><partial name="Filtre" /></div>

    <div class="p-2 flex-grow-1">
        <form method="get" asp-action="Recherche" class="d-flex">
            <div class="flex-grow-1">
                <input class="w-75 h-100" type="text" name="search" placeholder="Recherche...">
            </div>

            <div class="pe-2">
                <input type="hidden" name="utilisateurId" value="@Model.UtilisateurActif.UtilisateurId" />
                <button type="submit" class="btn btn-secondary">Chercher</button>
            </div>
        </form>

        <h1 class="mt-3">Résultats</h1>
        @foreach (TheWebsite.Models.Produit produit in Model.ProduitList)
        {
            <div class="d-flex border p-2">
                <partial name="BoiteProduit" model=produit />

                <div>
                    <form method="post" asp-action="AjoutPanier">
                        <input type="hidden" name="produitId" value="@produit.ProduitId" />
                        <input type="hidden" name="utilisateurId" value="@Model.UtilisateurActif.UtilisateurId" />
                        <button type="submit" class="btn btn-success w-100 mt-3 mb-2 bottom-0">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        }

    </div>
</div>
